---
layout: page
title: Recent Posts
description: "List of recent blog posts."
tags: [eLitmus, recent]
---


<ul class="post-list custom-cardcss" >
  {% for post in site.posts limit:10 %}
 

  <article class="article-recent">
    <div class="article-recent-main">
      <h2 class="article-title"><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }} </a></h2>
      <div class="article-body">
        {% if post.excerpt %} 
          {% capture full_url %} 
                {{ site.url }}{{ site.baseurl }}{{ post.url }} 
          {% endcapture %}
          {{ post.excerpt | remove: '<p>' | remove: '</p>' }} 
        
        {% endif %}
      </div>
      <a href="{{ full_url }}" rel="nofollow" class="article-read-more">CONTINUE READING</a>
    </div>
    <div class="article-recent-secondary">
 
      <img src="images/{{post.title}}.png" alt="" class="article-image">
      <p class="article-info"><i class="fa fa-calendar" style="color: black;" ></i>{{ post.date | date: "%B %d, %Y" }}</p>
    </div>
</article>

 



  {% endfor %}
</ul>