---
layout: page
title: Recent Posts
description: "List of recent blog posts."
tags: [eLitmus, recent]
---


<ul class="post-list">
{% for post in site.posts limit:10 %} 
 
<div class="card rounded">
  <div class="card-body">
    <span class="entry-date date published">
        <time datetime="{{ post.date | date_to_xmlschema }}">
            <i class="fa fa-calendar"></i> {{ post.date | date: "%B %d, %Y" }}
        </time>
    </span>
      <h3 class="entry-title-summary">
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }} </a>
            </h3>
      <div>
               {% if post.excerpt %} 
                {% capture full_url %} 
                      {{ site.url }}{{ site.baseurl }}{{ post.url }} 
                {% endcapture %}
            {{ post.excerpt | remove: '<p>' | remove: '</p>' }} 
          
 <a href="{{ full_url }}" rel="nofollow" class="read-more pull-right"> read more &raquo;</a>
              {% endif %}

            </div>
    
  </div>
</div>
{% endfor %}

</ul>