<header class="headroom">

    <nav role="navigation">
    
       
    
    
    <div class="wrapper">
        <div class="sidebar">
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <img  src="https://cdn0.elitmus.net/assets/elitmus-only-logo-6efc8a74032179afdb89829a093e05bd05d627dd4354bbd1ff7f4eb5db8a0af8.svg" class="img-logo">
                <span><div class="blog-label">blog</div></span>
            </a>
    
    
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
                <span class="sr-only">Toggle navigation</span>
              </button>
    
    
          
    
    
           
                <ul class="nav navbar-nav mr-auto">
     
                    <li class="nav-item">
                        <div class="dropdown search-box-margin">
    
                            <div class="form-inline">
                                {% capture category_count %} {{ site.categories | size }}* {% endcapture %} {% assign count = category_count | plus: 0 %}
                                <input data-toggle="dropdown" placeholder="Search..." id="search-box" class="form-control form-control-sm search-input dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                            </div>
    
                        </div>
                    </li>
                </ul>
         
    
    
    
            <ul class="nav navbar-nav navbar-right nav-icon-size-reduce">
                {% for link in site.links %}
                <li class="nav-item fas">
                    {% if link.external %}
                    <a href="{{ link.url }}" class="nav-link">
                        <i class="{{link.icon}}"></i> {{ link.title }}
                    </a>
                    {% else %}
                    <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}" class="nav-link">
                        <i class="{{link.icon}}"></i> {{ link.title }}
                    </a>
                    {% endif %}
                </li>
                {% endfor %}
    
                <li class="nav-item fas ">
                    <a href="{{ site.url }}{{ site.baseurl }}/feed.xml" class="nav-link" title="Atom/RSS feed">
                        <i class="fa fa-rss"></i> Feed
                    </a>
                </li>
            </ul>
            <ul>
                
                
            </ul> 
            <div class="social_media">
              <a href="#"><i class="check fab fa-facebook-f"></i></a>
              <a href="#"><i class="check fab fa-twitter"></i></a>
              <a href="#"><i class="check fab fa-instagram"></i></a>
          </div>
        </div>
       
    
    </div>
    
    
    <!--  ends new  -->
    <!--
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav mr-auto">
                    <a class="navbar-brand" href="{{ site.baseurl }}/">
                        <img  src="https://cdn0.elitmus.net/assets/elitmus-only-logo-6efc8a74032179afdb89829a093e05bd05d627dd4354bbd1ff7f4eb5db8a0af8.svg" class="img-logo">
                        <span><div class="blog-label">blog</div></span>
                    </a>
            
                    <li class="nav-item">
                        <div class="dropdown search-box-margin">
    
                            <div class="form-inline">
                                {% capture category_count %} {{ site.categories | size }}* {% endcapture %} {% assign count = category_count | plus: 0 %}
    
                                <input data-toggle="dropdown" placeholder="Search..." id="search-box" class="form-control form-control-sm search-input dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                            </div>
                        </div>
                    </li>
                </ul>
    
     
                <ul class="nav navbar-nav navbar-right nav-icon-size-reduce">
                    {% for link in site.links %}
                    <li class="nav-item">
                        {% if link.external %}
                        <a href="{{ link.url }}" class="nav-link">
                            <i class="{{link.icon}}"></i> {{ link.title }}
                        </a>
                        {% else %}
                        <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}" class="nav-link">
                            <i class="{{link.icon}}"></i> {{ link.title }}
                        </a>
                        {% endif %}
                    </li>
                    {% endfor %}
     
                    <li class="nav-item">
                        <a href="{{ site.url }}{{ site.baseurl }}/feed.xml" class="nav-link" title="Atom/RSS feed">
                            <i class="fa fa-rss"></i> Feed
                        </a>
                    </li>
                </ul>
    
    
    
            </div> -->
    
        </nav>{% include browser-upgrade.html %}
    </header>
     
    
     